.arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;          /* Abstand vom unteren Rand */
    transform: translateX(-50%);
    z-index: 100;
}

.arrow img {
    width: 30px;
    height: 30px;
    display: block;
}