

.fadeGradient {
    position:fixed;
    z-index:2;
    right:0; top:0; left:0;
    height:200px;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 85%);
}


.video-slider{
    position: relative;
    width: 100vw;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: -6%; 

    height: 650px;
    overflow: hidden;
}

.video-slide{
    position:absolute;
    inset:0;
    opacity:0;
    transition:opacity .8s ease;
}

.video-slide.active{
    opacity:1;
    z-index:1;
}

.video-slide video{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* ===== Overlay ===== */

.hero-overlay{
    font-family: "Cinzel", serif;
    position:absolute;
    left:8%;
    top:50%;
    transform:translateY(-50%);
    z-index:10;

    max-width:520px;

    background:rgba(255,255,255,.18);
    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);

    border:1px solid rgba(255,255,255,.25);
    border-radius:20px;

    padding:45px;
    color:white;

    box-shadow:0 20px 60px rgba(0,0,0,.25);
}

.hero-overlay h1{
    font-size:52px;
    margin:0 0 20px;
    line-height:1.1;
}

.hero-overlay p{
    font-size:18px;
    line-height:1.7;
    margin-bottom:35px;
}

.hero-button{
    display:inline-block;
    padding:16px 38px;
    border-radius:40px;

    background:#c9a961;
    color:#2c2520;

    text-decoration:none;
    font-weight:bold;
    transition:.3s;
     font-family: "Cormorant Garamond", "serif";
}

.hero-button:hover{
    background:#a08544;
    transform:translateY(-2px);
    color: #2c2520;
  
}

/* Mobile */

@media(max-width:768px){

.hero-overlay{

left:20px;
right:20px;
max-width:none;
font-family: "Cinzel", serif;

padding:30px;

}

.hero-overlay h1{
font-size:34px;
font-family: "Cinzel", serif;
}

}


