#tahefobu-header.small {
    height: 30px;
    padding-top: 0;

}

.invisible {
  display: none !important;
}

.logo-big.invisible {
  display: none !important;
}

img {
    transition: opacity 0.25s ease;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}