#tahefobu-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
	height: 15vh;
	padding-top: 1.5%;
	min-height: unset !important;
}


#tahefobu-header .elementor-element {
  min-height: unset !important;
}